# OS
.DS_Store

# IDE
.idea
.vscode

# Build and deps
dist
node_modules
.eslintcache
.cache

# NPM / Yarn
*-debug.log
*-error.log
npm-shrinkwrap.json

# Package lock files (see https://github.com/sindresorhus/ama/issues/479#issuecomment-310661514)
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# node-clinic
.clinic

# Tests
*.test-gen.*
.nyc_output
coverage

# Test code-gen output
/generated/*
/packages/*/generated/*
/packages/*/test-generated/*
/test/tmp

# .env file for docs build
/docs/.env
/docs/.vitepress/cache
/docs/.vitepress/dist

# Ignore sql structure, which is never formatted.
**/generated/common/structure.sql

# Types
**.d.ts.map
**.d.ts
!advanced-types.d.ts
!common/types.d.ts
tsconfig.tsbuildinfo

# Examples
# Ignore any generated output of examples
examples/**/generated/*
