# OS
.DS_Store

# IDE
.idea
.vscode

# Build and deps
dist
node_modules
.eslintcache

# NPM / Yarn
*-debug.log
*-error.log
package-lock.json

# node-clinic
.clinic

# Tests
*.test-gen.*
.nyc_output
coverage

# Test code-gen output
/generated/*
/packages/*/generated/*
/packages/*/test-generated/*
/test/tmp
__fixtures__/tmp

# Benchmark output on CI
/benchmark_output.txt

# .env file for docs build
/docs/.env

# Ignore sql structure, which is never formatted.
**/generated/common/structure.sql

# Types
**.d.ts.map
