# OS
.DS_Store

# IDE
.idea
.vscode

# Build and deps
dist
node_modules

# NPM / Yarn
*-debug.log
*-error.log
package-lock.json

# node-clinic
.clinic

# Tests
*.test-gen.*
.nyc_output
coverage

# Test code-gen output
/generated/*
/packages/*/generated/*
/packages/*/test-generated/*
/test/tmp

# Real code-gen output
!packages/store/generated/

# Benchmark output on CI
/benchmark_output.txt

# .env file for docs build
/docs/.env

# Ignore sql structure, which is never formatted.
**/generated/common/structure.sql

# Ignore all tmp files created based on fixtures
__fixtures__/tmp

# Types
**.d.ts.map
