:root {
  --vp-c-green-1: #10b981;
  --vp-c-green-2: #34d399;
  --vp-c-green-3: #6ee7b7;
  --vp-c-green-soft: rgba(16, 185, 129, 0.14);

}

.dark {
  --vp-c-green-1: #10b981;
  --vp-c-green-2: #059669;
  --vp-c-green-3: #047857;
  --vp-c-green-soft: rgba(16, 185, 129, 0.05);
}

:root {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
}
