name: Create a release on tag

on:
  push:
    tags:
      - "*"

jobs:
  release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v6

      - name: Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: "**/package.json"

      - name: Create release
        run: |
          npm install
          npx compas create-release --github-token ${{ secrets.COMPAS_GITHUB_TOKEN }}
