name: Checks on the main branch
on:
  push:
    branches: [main]

jobs:
  test:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]
        postgres_version: [12, 13]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
      POSTGRES_VERSION: ${{ matrix.postgres_version }}
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Run tests
        run: |
          yarn install
          yarn compas docker up
          yarn compas gen
          yarn compas docker migrate
          yarn compas test

  coverage:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [16]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Run coverage
        run: |
          yarn install
          yarn compas docker up
          yarn compas gen
          yarn compas docker migrate
          yarn compas coverage
          yarn compas docker reset

      - name: Comment test coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage

  analyze:
    name: Analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: ["javascript"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: ${{ matrix.language }}

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1
