name: PR Checks
on: [pull_request]

env:
  CI: true

jobs:
  lint:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [15]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Run lint
        run: |
          yarn install
          yarn compas lint

  test:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [15, 16]
        postgres_version: [12, 13]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
      POSTGRES_VERSION: ${{ matrix.postgres_version }}
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Run tests
        run: |
          yarn install
          yarn compas docker up
          yarn compas gen
          yarn compas docker migrate
          yarn compas test

  bench:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [15]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Run benchmarks
        run: |
          yarn install
          yarn compas docker up
          yarn compas gen
          yarn compas docker migrate
          yarn compas bench
          echo -e "BENCH_RESULT<<EOF\n$(cat ./benchmark_output.txt)\nEOF" | tee -a $GITHUB_ENV

      - name: Comment bench result
        uses: mshick/add-pr-comment@v1
        env:
          GITHUB_TOKEN: ${{ secrets.COMPAS_GITHUB_TOKEN }}
        if: ${{ env.COMPAS_GITHUB_TOKEN != null }}
        with:
          message: |
            ==== **Benchmark result** ====
            ```
            Node.js version: ${{ matrix.node }}
            ${{ env.BENCH_RESULT }}
            ```
          repo-token: ${{ secrets.COMPAS_GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: false

  coverage:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [15]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
    steps:
      - uses: actions/checkout@v2

      - name: Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: 'yarn'

      - name: Run coverage
        run: |
          yarn install
          yarn compas docker up
          yarn compas gen
          yarn compas docker migrate
          yarn compas coverage
          yarn compas docker reset

      - name: Comment test coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage

  automerge:
    # Coverage runs tests, so should be fine
    needs: [bench, coverage, lint, test]
    runs-on: ubuntu-latest
    steps:
      - uses: fastify/github-action-merge-dependabot@v2.0.0
        if: ${{ github.actor == 'dependabot[bot]' }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
